@model IEnumerable<philameter.DAL.Entities.Stats>

@{
    ViewBag.Title = "Dashboard";
}

<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html"> Home</a></li>
            <li class="active">Dashboard</li>
        </ul>
    </div><!-- /breadcrumb-->


    <div class="padding-md">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="panel-stat3 panel-info">
                    <h1 class="m-top-none odometer" id="notsure">100</h1>

                    <h4 id="odotest">odo this year</h4>

                    <i class="fa fa-star fa-lg"></i> Odometer Test
                    <div class="stat-icon">
                        <i class="fa fa-ambulance fa-5x"></i>
                    </div>
                </div>
            </div><!-- /.col -->
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="panel-stat3 @item.PanelClass">
                        <h1 class="m-top-none" id="@item.Name.Replace(" ","_")">0</h1>
                        
                        <h4 id="birthDailyLabel">@item.Name this year</h4>
                        
                        <i class="fa @item.Category.FontAwesomeIcon fa-lg"></i> @item.Category.Name
                        <div class="stat-icon">
                            <i class="fa @item.FontAwesomeIcon fa-5x"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
            }
        </div>
            
    </div><!-- /.padding-md -->
</div><!-- /main-container -->
@section Scripts
{
<script>  

    function animateMetrics()
    {
        var time1 = 1325376000000;
        var births = document.getElementById('Births');

        var combined_emissions_to_time1 = 555401776700
        // In tonnes of carbon
        var rate_of_2012_emissions = 0.328755651
        // In tonnes/millisecond
        var foo = new Date;
        // Use the time in milliseconds since 1st Jan 1970, otherwise known as unix time. Converter to normal time here: http://www.csgnetwork.com/epochtime.html
        var current_unixtime_ms = foo.getTime();

        births.innerHTML = parseInt(((current_unixtime_ms - time1) * rate_of_2012_emissions) + combined_emissions_to_time1);

        timerID = setTimeout("animateMetrics()", 10);

    }

    animateMetrics();

</script>

}
