@model IEnumerable<philameter.DAL.Entities.Stats>

@{
    ViewBag.Title = "Dashboard";
}

<div id="main-container">

    <div class="padding-md">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="@string.Format("panel-stat3 {0}", item.PanelClass)">
                        <h1 class="m-top-none" id="@item.Name.Replace(" ","_")">0</h1>
                        
                        <h4 id="birthDailyLabel">@string.Format("{0} this year",item.Name)</h4>
                        
                        <i class="@string.Format("fa {0} fa-lg", item.FontAwesomeIcon)"></i>@string.Format("Category: {0}", "Sample") 
                        <div class="stat-icon">
                            <i class="@string.Format("fa {0} fa-5x", item.FontAwesomeIcon)"></i>
                        </div>
                    </div>
                </div><!-- /.col -->
            }
        </div>
            
    </div><!-- /.padding-md -->
</div><!-- /main-container -->
@section Scripts
{
<script>

    function animateMetrics()
    {
        var d = new Date();
        var dayStart = new Date(d.getFullYear(), d.getMonth(), d.getDate());
        var monthStart = new Date(d.getFullYear(), d.getMonth(), 1);
        var yearStart = new Date(d.getFullYear(), 1, 1);
        var yearEnd = new Date(d.getFullYear()+ 1, 12,31);
        var dailyMS = (24 * 60 * 60 * 1000);
        //$('#odo').text(parseInt(yearStart.getTime()));
        //$('#odoNow').text(parseInt(d.getTime()));
        
        @foreach (var item in Model)
        {
            @:$('#@item.Name.Replace(" ", "_")').text(parseInt(((d.getTime() - yearStart.getTime()) / dailyMS)  * @item.Stat));
        }

        timerID = setTimeout("animateMetrics()", 100);

    }

    animateMetrics();

</script>

}
