@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")
{
    <li class="active">
        <text>@Model.Description</text>
    </li>
}
else if (Model.IsClickable)
{
    <li>
        <a href="@string.Format(@"/{0}/{1}", Model.Controller, Model.Action)">
            <span class="menu-icon">
                <i class="fa @Model.Attributes["Icon"].ToString() fa-lg"></i>
            </span>
            <span class="text">
                @Model.Description (@Model.Action)
            </span>
            <span class="menu-hover"></span>
        </a>
    </li>
}
else
{
    <text>@Model.Title</text>
}
